/* You can add global styles to this file, and also import other style files */
h1 { 
    
    color: blue; 
    text-align: center; /*centralizada */
    font-family: 'segoe ui', Tahoma, Arial, Helvetica; /*busca una y si no la encuentra busca la otra */
}